<View>
  <Header value="Reference" size="4"/>
  <HyperText name="reference" value="$reference_html"/>
  <HyperText name="subjects" value="$subjects_html"/>
  <Text name="instruction" value="$instruction"/>

  <Header value="Select all valid candidates" size="4"/>
  <Choices
    name="positives"
    toName="instruction"
    value="$candidate_choices"
    choice="multiple"
    layout="inline"
  />
</View>
